
* {

	font-family: cursive;
	color:#1C7491;
	background-color: white;
}

h1 {

	font-color: red;
	background-color: yellow;

}
#points {

	color:#D61A91;
	font-size: 36px;
}

img {

	width: 200px;
	height:200px;
}
p {

	color: violet;

}